/* topic_directory.css */

body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

h2 {
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.topic-button {
    margin: 10px;
}

.topic-image {
    width: 70px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
    
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #333; /* Adjust the color as needed */
}
